.popup__button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.22;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 18px;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup__button_disabled {
  background-color: #fff !important; 
  color: #c4c4c4 !important; 
  border: 1px solid #c4c4c4 !important; 
  cursor: default;
}

.popup__button_disabled:hover {
  background-color: #fff !important;
}

@media screen and (max-width: 568px) {
  .popup__button {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 15px;
  }
}